In [ ]:
# CREATING CLASS name 'CAR'
# THIS CLASS 'CAR' WILL ACT AS A PLACEHOLDER TO STORE DATA OF DIFFERENT CAR COMPANY.

In [18]:
class car:
    company='DEMO'
    networth = 'DEMO'
    country = 'DEMO'

In [19]:
car.country

'DEMO'

In [20]:
car().company

'DEMO'

In [21]:
car.company

'DEMO'

In [22]:
# updating an object into default CLASS 'CAR'.

car.headquarter = 'DEMO'

In [23]:
car

__main__.car

In [24]:
car.headquarter

'DEMO'

In [ ]:
# CREATING OBJECT 'honda'

In [25]:
# all the properties of car like bmw but for honda
honda = car()

In [26]:
honda.headquarter = 'Stuttgart'
honda.company='HONDA'
honda.networth = '68 Billion'
honda.country = 'Germany'

In [ ]:
# CREATING OBJECT 'bmw'

In [27]:
bmw = car()

In [28]:
bmw.headquarter = 'Muninch'
bmw.company='BMW'
bmw.networth = '60 Billion'
bmw.country = 'Germany'

In [29]:
car.company

'DEMO'

In [30]:
honda.company

'HONDA'

In [31]:
bmw.company

'BMW'

In [32]:
car.headquarter

'DEMO'

In [33]:
honda.headquarter

'Stuttgart'

In [34]:
bmw.headquarter

'Muninch'

In [ ]:
# CREATING A CLASS - DEFAULT FAMILY DETAIL STRUCTURE.

In [37]:
class family:
    name = 'DEFAULT'
    age = 'DEFAULT'
    location = 'DEFAULT'    
    def full_detail(self):
        print(f"My name is {self.name}, I am {self.age} years old and I live in {self.location}.")

In [38]:
shubham = family()

In [39]:
shubham.name = 'Shubham'
shubham.age = 28
shubham.location = 'Bangalore'

In [40]:
sourabh = family()

In [41]:
sourabh.name = 'Sourabh'
sourabh.age = 24
sourabh.location = 'Dhanbad'

In [ ]:
# ACCESSING EVERY PROPERTIES FOR OBJECT SHUBHAM

In [44]:
shubham.name

'Shubham'

In [45]:
shubham.age

28

In [46]:
shubham.location

'Bangalore'

In [47]:
shubham.full_detail()

My name is Shubham, I am 28 years old and I live in Bangalore.

In [ ]:
# ACCESSING EVERY PROPERTIES FOR OBJECT SOURABH

In [48]:
sourabh.name

'Sourabh'

In [49]:
sourabh.age

24

In [50]:
sourabh.location

'Dhanbad'

In [51]:
sourabh.full_detail()

My name is Sourabh, I am 24 years old and I live in Dhanbad.

In [53]:
# checking of object in which CLASS it belongs.

type(sourabh)

__main__.family

In [54]:
# checking is OBJECT 'shubham' belongs to 'family' CLASS

isinstance(shubham,family)

True

In [57]:
# function without 'self'

class demo:
    def hello():
        print('hello')

In [58]:
a = demo()

In [59]:
# when we pass custom defined function from an OBJECT of a CLASS, it will give an error

a.hello()

TypeError: hello() takes 0 positional arguments but 1 was given

In [60]:
# we directly need to pass function from defined 'CLASS'

demo.hello()

hello

### '_ _ init _ _ '

In [ ]:
# __init__ an instance method that initializes a newly created object.
# It takes the object as its first argument followed by additional arguments. 
# The method takes the object as its first argument (self), followed by any additional arguments that need to be passed to it.

In [78]:
class student:
    def __init__(self, name_of_person, classs_of_person, roll_of_person, age_of_person):
        self.name = name_of_person
        self.classs = classs_of_person
        self.roll = roll_of_person
        self.age = age_of_person

In [79]:
b = student('sourabh','MS',44,24)

In [80]:
b.name

'sourabh'

In [81]:
b.classs

'MS'

In [82]:
b.roll

44

In [83]:
b.age

24

In [145]:
class team:
    trophies = 'yes'
    year_win = []
    teams = ('man_utd','real_madrid')
    def __init__(self, name_of_person, classs_of_person, team_of_person, age_of_person):
        self.name = name_of_person
        self.classs = classs_of_person
        self.team = team_of_person
        self.age = age_of_person

In [153]:
ronaldo = team('ronaldo','front','alnassr',36)

In [93]:
print(ronaldo.name)
print(ronaldo.classs)
print(ronaldo.trophies)

ronaldo
front
yes

In [160]:
messi = team('messi','front','barcilona',38)

In [161]:
messi.trophies = 'no'

In [108]:
print(messi.name)
print(messi.classs)
print(messi.trophies)

messi
front
no

In [109]:
print(ronaldo.trophies)

yes

In [114]:
print(messi.year_win)
print(ronaldo.year_win)

[]
[]

In [122]:
# if we update a variable of a CLASS from an object, then that variable will also be updated in other object.
# we update only list'year_win' of 'messi' OBJECT, but 'year_win' of ronaldo also got changed.
# this is because if VARIABLES of CLASS is mutable then it will be shared across all object and if its immutable then it will
# be changed only for that instances.

messi.year_win.append(2022)

In [116]:
print(messi.year_win)

[2022]

In [117]:
print(ronaldo.year_win)

[2022]

In [124]:
ronaldo.trophies = 'never'

In [125]:
print(ronaldo.trophies)

never

In [127]:
messi.trophies = 'yes'

In [128]:
print(messi.trophies)

yes

In [156]:
team.teams

('man_utd', 'real_madrid')

In [158]:
ronaldo.teams

('man_utd', 'real_madrid')

In [162]:
messi.teams

('man_utd', 'real_madrid')

In [165]:
c = list(ronaldo.teams)
c.append('juventus')
ronaldo.teams = tuple(c)
print(ronaldo.teams)

('man_utd', 'real_madrid', 'juventus')

In [166]:
ronaldo.teams

('man_utd', 'real_madrid', 'juventus')

In [167]:
messi.teams

('man_utd', 'real_madrid')